body {
    background-color: rgb(43, 156, 231);
    margin-left: 0.625rem;
  }
  
  .titulo {
    color: white;
    background-color: rgb(31, 36, 37);
    text-align: center;
    margin: 70px;
  }
  .exel {
    color: white;
    font-size: 1.875rem;
  }
  .lista {
    color: white;
  }